= content_for :title, "About Us"

h4 Just like Google provides search for the web,
p
  | we provide search for 
  a href="http://www.coupons4indy.com/" coupons4indy.com
  | . If you wonder why we exist, visit coupons4indy and see. It's okay, we'll wait.

h4 Our goal
p is to provide a simple and usable interface to connect you with the coupons you want, as easily and smoothly as possible.

h4 We want to hear from you!
p Questions and concerns? Contact us!

h4 Okay not really...
p But if you do figure out how to contact us, we'd love to hear from you.