= content_for :title, "About Us"

h2 About Us

h4 What would you say... you do here?
p
  | Just like Google provides search for the web, we provide search for 
  a href="http://www.coupons4indy.com/" coupons4indy.com
  | . If you wonder why we exist, visit coupons4indy and see. It's okay, we'll wait.

h4 What's your goal?
p Simple. It's to provide a simple and usable interface to connect you with the coupons you want, as easily and smoothly as possible.

h4 Seriously? That's your goal?
p In a nutshell: yes. We aren't in the business of gaining customers, building a coupons database, etc. We tried that. It sucked. We'll let the kind folks at coupons4indy do that work, we'll just let you access it better. If you are a business and want to pay us money for this service, we accept cash, check or credit card and will always, ALWAYS take money from you. We like accepting money from people. We will then promptly give it away to charity. Because the only things that rocks our socks more than providing a better user experience than coupons4indy.com are charities. We just love 'em.

h4 I have a question or concern.
p Questions and concerns? Great! Contact us!

h4 How do I contact you?
p Easy! You don't. But if you do figure out how to contact us, we'd love to hear from you.